@import "details.css";
@import url("@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap')");

.isActive {
    background-color: aqua;
}
.isNotActive {
    background-color: red;
}

body {
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 25px;
}
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  } 
.viewport-header {
    position: relative;
    height: 100vh;
  }
#facilities {
    display: flex;
    align-content: space-around;
    flex-direction: column;
    height: 30vh;
    padding: 3rem;
    margin: auto;
}

#facilityList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}
#facilityList article{
    flex: 1 1 25%;
}
#minerals{
    display: flex;
    flex-direction: column;
    align-content: center;
}
#minerals section {
    align-self: center;
}
#minerals section ul{
    padding: 1px;
}

.hidden {
    display: none;
}

#governors-and-colonies {
    display: flex;
    margin-top: 8rem;
}