@import "details.css";
@import url("@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap')");

.isActive {
    background-color: aqua;
}
.isNotActive {
    background-color: red;
}

body {
    font-family: 'Inconsolata', monospace;
}

#facilities {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    height: 50vh;
}

#facilityList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}
#facilityList article{
    border: aquamarine 1px solid;
}

#minerals {

}

.hidden {
    display: none;
}